@tailwind base;
@tailwind components;
@tailwind utilities;


.skills div{
    @apply flex gap-4 items-center text-sm border border-dark-color dark:border-grey py-2 px-4 rounded-sm font-semibold md:text-base
}
.skills div svg{
   @apply h-6 w-6 md:h-10 md:w-10
}
.contact-info{
    @apply flex flex-col gap-4 my-12 lg:mt-0 lg:text-right
}
.contact-info h4{
    @apply uppercase md:text-xs font-bold font-playfair text-lime
}
.contact-info h3{
    @apply text-2xl lg:text-3xl font-julee underline underline-offset-8
}
/* @media (prefers-color-scheme: dark){
    body {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(30 32 41 / var(--tw-bg-opacity));
    }
} */